body {
    margin: 0;
    font-size: 120%
    font-family "Helvetica", Arial, sans-serif;
    }
    nav {
        background-color: brown;
        font-size: 140%;
    }

h1 {
    background-color: red;
    color: rgb(0, 255, 170);
}
h2 {
    color: green;
    text-align: center;
    border-style: dotted;
}
em{
    color: yellowgreen;
    background-color: grey;
}